
  .alert {
    text-align: center;
    padding: 20px;
    width: 100%;
    background: rgb(255, 170, 12);
    color: #fff;
    margin-bottom: 50px;
    display: none;
  }
  
  #contact {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
  }

  #contact h3{
    font-size: 8em;
    color: white;
  }

  #color{
    color: rgb(255, 170, 12) !important;
    display: inline-block;
    position: relative;
  }
  
  #color::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(255, 170, 12);
  }

  .contact{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  @media screen and (max-width: 1200px) {
    #contact h3{
        display: none;
    }
    .contact{
        width: 100%;
    }
  }

.contact form label {
    display: block;
    color: white
}

.contact form{
    width: 90%;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    margin: 1em 0 1em 0;
    outline: 0;
    border: none;
    font-size: .75em;
    color: white;
    background-color: black;
}

.contact form input,
.contact form textarea {
    border-bottom: 1px solid white;
}


.contact form input:focus,
.contact form textarea:focus {
    color: white;
    background-color: black;
}

.contact form button{
    background-color: black;
    border: 1px solid white;
    color: white;
    
}

.contact form button:hover{
    background-color: rgb(255, 170, 12);
    border: none;
    transition: all 0.5s;
}


  
